# React & Frontend
frontend/node_modules/
frontend/build/
frontend/dist/
.env

# Python & Backend
__pycache__/
*/__pycache__/
venv/
env/

# AI Modelleri ve Veri Setleri (GitHub'ı çökertmemek için)
*.pth
data/
datasets/
temp_*.jpg
temp_*.png